.navbar-custom {
    background-color: #303030 !important; 
  }

.logo{
     width: 100px;
}

/* Primary Button Styles */
.btn-custom-primary {
  background-color: #303030; /* Dark gray */
  color: #ffffff; /* White text */
  border: none; /* No border */
  border-radius: 8px; /* Fixed border radius */
  padding: 8px 20px; /* Padding for better touch */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
}


.btn-custom-primary:hover, .btn-custom-primary:focus {
  background-color: #1a1a1a; /* Slightly lighter gray */
  color: white;
  transform: translateY(-2px); /* Subtle lift effect */
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: none;
}

/* Secondary Button Styles */
.btn-custom-secondary {
  background-color: #ffffff; /* White background */
  color: #303030; /* Dark gray text */
  border: 2px solid #303030; /* Dark gray border */
  border-radius: 8px; /* Fixed border radius */
  padding: 8px 20px; /* Padding */
  transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
}

.btn-custom-secondary:hover, .btn-custom-secondary:focus {
  background-color: #303030; /* Dark gray background */
  color: #ffffff; /* White text */
  transform: translateY(-2px); /* Subtle lift effect */
  cursor: pointer; /* Pointer cursor on hover */
}
