<div class="hero-header text-center text-white py-5" style="background-image: url('https://images.unsplash.com/photo-1629732097571-b042b35aa3ed?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center;">
  <div class="container">
    <h1 class="display-4 font-weight-bold">Welcome to SOAPPED</h1>
    <p class="lead">Explore our vast collection of Skin Care Products.</p>
  </div>
</div>